/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}
body {
  width: 100%;
  margin: 0 auto;
  font: 1.6rem/1.25 Tahoma, sans-serif;
}
/* END RESETS */

h1 {
  text-align: center;
}

.app-container {
  max-width: 85%;
  margin: auto;
}

.theme-switch-wrapper {
  max-width: 85%;
  margin: auto;
  padding-top: 15px;
  padding-right: 15px;
  text-align: right;
}

.theme-light {
  background: #ddd;
  /* background: linear-gradient(to right, #fff, #ccc); */
  color: #000;
}
.theme-dark {
  background: #222;
  /* background: linear-gradient(to right, #000, #333); */
  color: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* LIST SELECTOR */

.list-selector {
  background-color: dodgerblue;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-selector button {
  margin-left: 10px;
}

.select-buttons-hide {
  display: none;
}

/* WELCOME PAGE */

.api-frame-list {
  padding: 2rem;
}
.api-generic {
  padding-left: 2rem;
  font-size: 2rem;
}

.api-quote {
  font-size: 2rem;
}
.api-quote::before {
  content: open-quote;
}
.api-quote::after {
  content: close-quote;
}

/* SCHEDULE PAGE */

.sched-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sched-container-dark {
  border: 1px solid white;
}
.sched-container-light {
  border: 1px solid black;
}

/* LESSON PAGE */

.lesson-student {
  margin: 25px;
  padding: 10px;
  border: 2px solid black;
}
.lesson-student-dark {
  border: 2px solid white;
}
.lesson-student-light {
  border: 2px solid black;
}
.lesson-student-name {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.lesson-student-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5rem;
}

.modal {
  position: absolute;
  margin-top: 15px;
  padding: 25px;
}
.modal-dark {
  background-color: #222;
  border: 1px solid white;
}
.modal-light {
  background-color: #ddd;
  border: 1px solid black;
}

/* DETAILS PAGE */

.detail-dark {
  border: 2px solid white;
}
.detail-light {
  border: 2px solid black;
}

.detail-student {
  border: 1px solid gray;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}

.detail-flex {
  display: flex;
  width: 100%;
}

.detail-flex-left {
  width: 20%;
  padding-left: 10px;
}

.detail-flex-right {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.detail-flex-left input {
  max-width: 90%;
}

.day-container {
  margin-top: 15px;
  padding: 15px;
  border: 1px groove gray;
}

.day-date {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

.summary-type {
  font-weight: bold;
}

.summary-results {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.results-container {
  display: flex;
}

.result {
  margin-right: 10px;
  font-size: 1.3rem;
}

/* EDIT LISTS PAGE */
.list-student-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5rem;
}

.list-student {
  margin: 10px;
  padding: 15px;
  flex-basis: 30%;
}
.list-student-dark {
  border: 2px solid white;
}
.list-student-light {
  border: 2px solid black;
}
.list-student button {
  margin-left: 5px;
}
.list-student-flex {
  display: flex;
  justify-content: flex-end;
}
.list-student-name {
  flex-grow: 1;
}
